.cartItems {
  width: 510px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 15px;

  .cartItemsLeft {
    width: 4%;
  }
  .cartItemsMiddle {
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(221, 220, 220);
    padding: 10px 3px;
    .itemsName {
      padding-left: 10px;
      width: 45%;
      font-size: 16px;
    }
    .itemsPrices {
      width: 15%;
      font-size: 16px;
    }
    .itemsQuantity {
      width: 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 10px;
      svg {
        color: rgb(90, 89, 89);
        font-size: 18px;
      }
    }
    .itemsTotalPrices {
      width: 15%;
    }
  }
  .cartItemsRight {
    width: 3%;
    font-size: 22px;
    color: red;
    cursor: pointer;
  }
}
.amountSection {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0px;

  .calculateAmount {
    width: 211px;
    display: flex;
    position: relative;
    left: 60%;
    flex-direction: column;
    margin-top: 25px;
    .subTotal,
    .tax,
    .shipping,
    .discount {
      margin-right: 15px;
      padding: 5px 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-top: 1px solid gray;
      span {
        font-weight: 500;
      }
      &:nth-last-child(1) {
        p {
          color: blue;
        }
      }
    }
  }
  .totalAmount {
    margin: 15px;
    display: flex;
    background: rgb(222, 222, 252);
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .cartItemsFooter {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 5px;
      padding: 10px;
      border-radius: 5px;
      background: rgb(230, 212, 255);
      color: rgb(77, 0, 165);
      &:nth-child(1) {
        background: rgb(252, 161, 161);
        color: rgb(168, 2, 2);
      }
      &:nth-child(4) {
        background: rgb(161, 223, 252);
        color: rgb(2, 107, 168);
      }
    }
  }
}
