@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100dvh;
  .display-left {
    width: 50%;
    border: 1px solid red;
  }
  .display-right {
    width: 50%;
    border: 1px solid rgb(0, 255, 136);
  }
}
