/* header.module.scss */

/* Right Side Header Top Styles */
.rightSideHeaderTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 20px;
  font-size: 24px;
  box-shadow: 1px 1px 9px 2px #c3c3c3;

  /* Right Side Header Top Left Styles */
  .rightSideHeaderTopLeft {
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    -moz-column-gap: 10px;

    input {
      border: none;
      padding: 10px 0;
      margin: 5px;
      transition: border 0.3s ease;
      width: 100%;

      &:focus,
      &:not(:placeholder-shown) {
        outline: none;
        box-shadow: none;
      }
    }
  }

  /* Right Side Header Top Right Styles */
  .rightSideHeaderTopRight {
    width: 4%;
  }
}
